<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377685394175-gta7eu4eldctav0jlhcbrjihhmh2gj8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377685394175-gta7eu4eldctav0jlhcbrjihhmh2gj8h</string>
	<key>API_KEY</key>
	<string>AIzaSyCE0n5Y3bvLRrbZcLgseK1nUKuH6jSpb80</string>
	<key>GCM_SENDER_ID</key>
	<string>377685394175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ffFcmBug</string>
	<key>PROJECT_ID</key>
	<string>manichord-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>manichord-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377685394175:ios:8d3cd5ce989b1875af42ca</string>
</dict>
</plist>